
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
}
*:focus, button:focus {
  outline-offset: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

.main-btn {
  border-top-right-radius: 0px;
}




.btn-hover::after {  padding: 50%;
  content: '';
  background: rgba(0, 0, 0, .05);
}

.toggler-icon {
  height: 2px;
  width: 30px;
  margin: 6px 0;
}
.active>.toggler-icon:nth-child(1) {
  top: 7px;
}
.active>.toggler-icon:nth-child(3) {
  top: -8px;
  transform: rotate(135deg);
}
/* =========== hero =========== */
.header_hero {
  height: 900px;
}
@media (max-width: 1400px) {
  .header_hero {
    height: 800px;
  }
}
.shape_1 {
  left: 10%;
}
.shape_2{
  left: 30%;
}
.shape_3{
  left: 40%;
}
.shape_4{
  left: 50%;
}
.shape_5{
  top: 40%;
  left: 14%;
}
.shape_6{
  top: 34%;
  left: 48%;
}
.shape_7{
  top: 60%;
  left: 80px;
}
.shape_8{
  top: 55%;
  left: 38%;
}
.shape_9{
  left: 13%;
}
.shape_11{
  left: 35%;
}
.shape_12{
  left: 42%;
}
.header_shape::before {
  content: '';
  background-color: #F5F5FC;
  transform: skewX(-15deg);
  width: 200%;
}
.services_shape {
  fill: #fff1f1;
}

/* ======= work ======== */
.single_item {
  max-width: 370px;
}
.single_team_item {
  max-width: 405px;
}
.pricing_content .tab-pane {
  display: none;
}
.pricing_content .tab-pane.active {
  display: block;
}

.pricing_btn {
  background-color: #fff1f1;
}
.contact_image img {
  max-width: 770px;
}